.small {
    width: 10rem;
    font-size: .7rem;
    margin: 2rem;
  }
  
  .medium {
    width: 25rem;
    font-size: .8rem;
    margin: 2rem;
  }
  
  .big {
    width: 45rem;
    margin: 2rem;
  }
  
  .full {
    width: 100%;
    margin: 2rem;
  }
  
  .news-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }